// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  #master-container.red-phone-wrapper {
    .container_phone {
      .wrapper_phone {
        .phone_display_wrapper {
          .phone_display {
            .display_container {
              // header
              .chatHeaderWrapper {
                .chatTopHeaderContainer {
                  .chatTopHeaderBG {
                    // 
                  }
                  .chatTopHeader {
                    .topHeaderItem {
                      .topHeaderTime {
                        // 
                      }
                      .topHeaderNetworkWrap__img {
                        // 
                      }
                    }
                  }
                }
                .chatHeader {
                  .chatHeader__main {
                    .headAndDate {
                      .chatHeader__back_btn {
                        width: 8px
                      }
                      .chatHeader__logo {
                        width: 24px
                      }
                      .headAndDate__title_wrap {
                        .headAndDate__head {
                          
                        }
                        .headAndDate__sub_title {
                          
                        }
                      }
                    }
                  }  
                }  
              }
                  
              .chatContent {
                
              }
              #chat-ui-input {
                .input-element{
                  .input-element-item{
                    &.attach{
                      width: 16px; height: 16px;
                      background: url('../../assets/img/icons/transparent/attach.svg');
                      background-size: 100%
                    }
                    &.micro{
                      width: 12px; height: 16px;
                      background: url('../../assets/img/icons/transparent/micro-svg.svg');
                      background-size: 100%
                    }
                    &.gallery{
                      width: 16px; height: 16px;
                      background: url('../../assets/img/icons_red_phone_transformer/gallery@2x.png');
                      background-size: 100%
                    }
                  }
                }
                .chatSend{
                  #terminal{
                    .chatSend__TextAndSend{
                      .sendText-wrap{
                        background-size: sendTextBgSize = 1.1em;
                        #setter.sendText{
                          background-size: sendTextBgSize;
                        }
                      }
                      #getter{
                        span#writer{

                        }
                        b#cursor.cursor{

                        }
                      }
                    }
                  }
                }
              }
              .bottom-ui {
                .bottom-ui__phone_line {
                  height: 0.2em;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 576px) {
  
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  
}

@media (min-width: 768px) {
  
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  
}

@media (min-width: 992px) {
  
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  
}